/* Notification.css */
.notification {
    position: fixed;
    bottom: 20px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 9999; /* Ensure notification is on top */
  }
  
  .notification p {
    margin: 0;
  }
  
  .notification button {
    margin-left: 10px;
  }
  